<footer class="site-footer site-shell{% if is_post() and theme.article.show_toc %} post-footer{% endif %}">
    <p>© {{ date(null, 'YYYY') }} · <a href="https://github.com/y1yang0">{{ config.author }}</a></p>
</footer>
