<footer class="site-footer site-shell{% if is_post() and theme.article.show_toc %} post-footer{% endif %}">
    <p>© {{ date(null, 'YYYY') }} · <a href="{{ url_for('/about/') }}">{{ config.author }}</a></p>
</footer>
