<!doctype html>
<html lang="{{ config.language }}">
{% set has_gallery_images = not page.travel_journal and (is_post() or is_page()) and ('<img' in (page.content | default('') | lower)) %}
{% include "_partial/common/head.njk" %}
<body class="journal-site{% if is_home() %} home-page{% endif %}">
    <a class="skip-link" href="#main">Skip to content</a>
    {% include "_partial/common/header.njk" %}
    <main id="main" class="site-shell" tabindex="-1">
        {% block content %}{% endblock %}
    </main>
    {% include "_partial/common/footer.njk" %}
    {% if has_gallery_images %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.8.3/lightgallery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.8.3/plugins/zoom/lg-zoom.min.js" defer></script>
    <script src="{{ url_for('js/lightgallery.js') }}" defer></script>
    {% endif %}
    <script src="{{ journal_asset('js/main.js') }}" defer></script>
    {% if page.travel_journal %}<script src="{{ journal_asset('js/travel-journal.js') }}" defer></script>{% endif %}
</body>
</html>
